#home {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    column-gap: 3rem;
    color: var(--font-color);
}


#about {
    margin-top: 1rem;
    text-align: start;
    display: grid;
    grid-template-columns: 2fr auto;
    column-gap: 2rem;
}

#name {
    line-height: normal;
    margin-bottom: .1em;
}

#more-text {
    padding: 0 5px 0 5px;
    border-radius: 1vw;
    box-sizing: border-box;
}

.picture {
    border-radius: .5vw;
}

.picture img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: .5vw;
}

#about-text .picture {
    display: none;
}

@media (max-width: 500px) {
    #about {
        grid-template-columns: 1fr;
    }
    .picture {
        display: none;
    }

    #name {
        text-align: center;
    }

    #about-text .picture {
        display: flex !important;
        align-items: center;
        margin: 10px auto ;
    }
    #about-text .picture img{
        border-radius: 10px;
    }
}

.links {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.icon {
	display: block;
	width: 30px;
	height: 30px;
}

.icon img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    vertical-align: center;
    filter: var(--image-filter);
}


#resume-btn {
    font-size: var(--fs-400);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    border: 1px solid var(--border-color);
    padding: 7px 10px 7px 10px;
    border-radius: 5px;
    color: var(--font-color);
    transition: background-color 150ms linear;
}

#resume-btn:hover {
    background-color: var(--secondary-color);
}

#resume-btn:focus {
    outline: 4px auto var(--border-color);
}

#resume-btn img {
    height: calc(var(--fs-400) + 5px);
    width: calc(var(--fs-400) + 5px);
    margin-left: 5px;
    filter: var(--image-filter-secondary);
}

.email {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none; 
    outline: none;
    padding:0;
    margin: 0;
}

.email:focus {
    outline: none !important;
}

.email:focus-visible {
    outline: 2px solid var(--font-color) !important;
}

.copy-message {
    position: fixed;
    display:flex;
    flex-direction: row;
    justify-content: center;
    transform: translateX(-50%);
    font-family: monospace;
    font-size: var(--fs-400);
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    z-index: 1;
}

.copy-message img {
    width: 1.5em;
    object-fit: contain;
    margin-right: .5em;
    filter: var(--image-filter);
}

.icon-text img {
    height: var(--fs-300);
    filter: var(--image-filter);
    margin-right: .5em;
}

.icon-text {
    display: flex;
    align-items: center;
    flex-direction: row;
}
