#home {
    margin-top: 1rem;
    width: 750px;
    display: grid;
    grid-template-rows: 1fr auto;
    column-gap: 3rem;
}


#about {
    text-align: start;
    display: grid;
    grid-template-columns: 2fr auto;
    column-gap: 2rem;
}

@media (max-width: 800px) {
    #home {
        width: 90vw;
    }
}



#more-text {
    padding: 0 5px 0 5px;
    border-radius: 1vw;
    box-sizing: border-box;
}

.picture {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.picture img {
    width: 100%;
    max-width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: .5vw;
}

#about-text .picture {
    display: none;
}

@media (max-width: 450px) {
    #about {
        grid-template-columns: 1fr;
    }
    .picture {
        display: none;
    }

    #name {
        text-align: center;
    }

    #about-text .picture {
        display: flex !important;
        align-items: center;
        margin: 10px 0 10px 0;
    }
    #about-text .picture img{
        border-radius: 10px;
    }
}

.links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.icon {
	display: block;
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
}

/* Icons */
.github {  
	background-image: url('../svg/github.svg');
}
.linkedin { background-image: url('../images/linkedin.png');}

#resume-btn {
    font-size: var(--fs-400);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    border: 1px solid var(--border-color);
    transition: background-color 150ms linear;
}

#resume-btn:hover {
    background-color: #1b1b1b;
}

#resume-btn:focus {
    outline: none !important;
}

#more-about {
    display: grid;
    grid-template-rows: 0fr;
    min-height: 0px;
    transition: grid-template-rows 200ms linear;
}

#more-about div{
    overflow: hidden;
    margin-bottom: 10px;
    text-align: start;
}

.show-text {
    grid-template-rows: 1fr !important;
}

#resume-btn img {
    height: calc(var(--fs-400) + 5px);
    width: calc(var(--fs-400) + 5px);
    margin-left: 5px;
    filter: invert(1);
}