
#home-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
}

.pic-text {
    display:contents;
}

#name {
    font-size: var(--fs-600);
}
#headshot {
    border-radius: 50%;
    width:250px;
    height: 300px;
    object-fit: cover;
    display: block;
    border: 10px solid white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


#occ {
    font-size: calc(var(--fs-600) - .5rem);
}

@media (max-width: 750px) {
    #home-content {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    .pic-text {
        display:contents;
    }
    #pic-name {
        display: inline-block;
    }
    #headshot {
        height:260px;
        width: 220px;
    }
    #name {
        font-size: calc(var(--fs-xl) - 1px);
    }
    #occ {
        font-size: calc(var(--fs-600) - 1px);
    }
}


.contact-info {
    display:flex;
    flex-direction: column;
    text-align: left;
    max-width: 250px;
    /* margin-top: 1rem; */
}

.about-me {
    margin: 0 auto;
    align-items: start;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}


#email {
    background-image: url('../images/email.png');
    filter: invert(1);
    width: 30px;
    height: 20px;
    background-size: 30px 20px;
}

.email {
    display:flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1em;
    margin-top: 1rem;
}

#phone {
    background-image: url('../images/phone.png');
    filter: invert(1);
}

.phone {
    display:flex;
    align-items: center;
    gap: 1rem;
}

.contact {
    display: flex;
    flex-direction: column;
    place-items: center;
}


#name {
    font-weight: 400;
}


.about-me-container *{
    width: fit-content;
}

@media (prefers-color-scheme: light) { 
    #phone {filter: invert(0);}
    #email {filter: invert(0);}
    .picture-frame {background-color: #232323;}
    #headshot {border: 10px solid #232323}
    .contact a {text-shadow: .5px .5px .5px black;}
}

