:root.dark {
    --inverted-img-filter: invert(0);
}

:root.light {
    --inverted-img-filter: invert(1);
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    width: 100%;
}
.project-card {
    border: 2px solid var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    font-family: monospace;
}

.project-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--text-primary);
    font-size: var(--fs-300);
    line-height: 1rem;
    justify-content: space-between;
    height: 100%;
}

.project-img-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    background-color: var(--secondary-color);
}
.project-img-container img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.enlarge {
    position: absolute;
    border: none;
    height: 25px;
    width: 25px;
    bottom: 5px;
    right: 3px;
    padding: 5px;
    background-color: var(--secondary-color);
}

.enlarge:focus {
    outline: none;
}

.enlarge:focus-visible {
    outline: 2px solid var(--font-color);
}

.enlarge img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: var(--image-filter-secondary);
}


.project-title {
    color: var(--font-color);
    font-size: calc(var(--fs-300) + 2px);
    font-weight: bolder;
    line-height: 1.5rem;
}

.sliding-track {
    position: relative;
    overflow-x: hidden;
}

.technologies, .technologies-lg {
    display: flex;
    justify-content: start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.technologies-lg {
    margin: 10px 0px 10px 0px;
    flex-wrap: wrap;
}

.technologies-lg img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}

.technologies img {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

.project-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.project-btn, .project-btn-lg {
    background-color: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    width: fit-content;
    padding: 3px 7px 3px 7px;
    border-radius: 5px;
    font-size: var(--fs-300);
    line-height: var(--fs-300);
}

.project-btn-lg {
    padding: 5px 10px 5px 10px;
    font-size: calc(var(--fs-400) - 1px);
    line-height: calc(var(--fs-400) - 1px);
}

.project-btn:hover, .project-btn-lg:hover {
    background-color: var(--font-color);
}

.project-btn img, .project-btn-lg img {
    height: 12px;
    aspect-ratio: 1/1;
    filter: var(--inverted-img-filter);
    object-fit:contain;
    margin-right: .5em;
}

.project-btn span, .project-btn-lg span {
    line-height: calc(var(--fs-400));
}

.project-btn-lg img {
    height: calc(var(--fs-400));
}


.project-popup {
    position: fixed;
    top:50%;
    left:50%;
    translate: -50% -50%;
    display:flex;
    justify-content: center;
    width: 100vw;
    height: 100dvh;
    z-index: 1000; 
    color: var(--text-primary);
    background-color: var(--nav-background);
    backdrop-filter: blur(2px);
    overflow: hidden;
}

.project-popup > div {
    padding: min(2.5em, 5vw);
    padding-top: 3em;
    width: min(750px, 90vw);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    height: fit-content;
    font-family: monospace;
    font-size: var(--fs-300);
    max-height: 80svh;
    margin-top: 10svh;
}

.project-features {
    margin: 0;
    padding-left: 1.5rem;
}

#projects-content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.close-popup {
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 30px;
    transform: translateY(-50%);
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
}

.close-popup:hover {
    background-color: var(--secondary-color);
}

.close-popup:focus {
    outline: none;
}

.close-popup:focus-visible {
    outline: 2px solid var(--text-primary);
}

.close-popup img {
    height: 100%;
    filter: var(--image-filter);
}

.img-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    width: 100% !important;
    height: fit-content;
}

/* .img-container.focused-image {
    position: relative;
    height: calc(75vw * .49);
} */



.project-image {
    max-width: 35vw;
    height: auto;
    border-radius: 1vw !important;
    transition: opacity .25s ease-in, transform 0.15s ease-in;
    cursor: pointer;
}

.focused-image {
    max-height: 90vh;
    object-fit: contain;
    cursor: pointer;
}

.project-image:hover {
    transform: scale(1.05);
}


.top-image {
    z-index: 1;
}

.focus-container {
    z-index: 5; 
    position: fixed;
    height: 100vh; 
    width: 100vw; 
    top: 0;
    left: 0;
    background-color: #23232300;
}


.focus-container.animated {
    animation: opacityAnim .25s ease-out forwards;  
}


@keyframes opacityAnim {
    0% {
        background-color: #23232300;
    }
    100% {
        background-color: #232323F1;
    }
}


.grid-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: .5rem;
}

@media (max-width: 500px) {
    .technologies-lg {
        justify-content: center;
    }
}

@media(max-width:950px) {
    .img-container {
        height: calc(42.5vw * .50);
    }
    .project-image {
        max-width: 40vw;
        border-radius: 2vw;
    }
    .project-image:hover {
        max-width: 41vw;
    }

    .img-container.focused-image {
        position: relative;
        height: calc(90vw * .47);
    }
    .project-image.focused-left{
        z-index: 1;
        max-width: 100%;
        position: absolute;
        left:0;
    
    }
    
    .project-image.focused-right {
        z-index: 1;
        max-width: 100%;
        position: absolute;
        right:0;
    }
}

@media(max-width:750px) {
    .img-container {
        position:initial;
        flex-direction: column;
        height: fit-content !important; 
        gap: 2rem;
    }
    .img-container.focused-image {
        position: initial;
    }
    
    .project-image {
        max-width: 100%;
    }
    .project-image:hover {
        max-width: 100%;
    }
    .image-left {
        position: initial;
        left: auto;
    }
    
    .image-right {
        position: initial;
        right:auto;
    }

    .project-image.focused-left{
        z-index: 0;
        max-width: 100%;
        position: initial;
        left:auto;
    
    }
    
    .project-image.focused-right {
        z-index: 0;
        max-width: 100%;
        position: initial;
        right:auto;
    }
}