
.tooltip-wrapper {
  position: relative;
}
.tooltip {
  /* position: absolute; */
  background-color: var(--secondary-color);
  font-family: monospace;
  font-size: var(--fs-400);
  color: var(--font-color);
  padding: 6px 10px;
  border-radius: 4px;
  pointer-events: none;
  white-space: nowrap;
  z-index: 9999;
}


.tooltip span{
  display: inline-block;
}