
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 200;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #232323;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --fs-xl: clamp(1rem, 1.3em + 2vw, 5rem);
  --fs-600: clamp(1rem, 1em + 1vw, 2rem);
  --fs-500: clamp(.9rem, .8em + .8vw, 1.5rem);
  --fs-400: clamp(.8rem, .5em + .5vw, 1rem);
}

.fs-400 {
  font-size: var(--fs-400)
}

.fs-500 {
  font-size: var(--fs-500)
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fw-600 {
  font-weight: 600;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x:hidden;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: hsl(0 0% 100%/0.1);
}

body::-webkit-scrollbar-thumb {
  background:#5bb9fc;
}

hr {
  width: 100% !important;
  border: none;
  height:2px;
  background-color: #787878;
  border-radius: 15rem;
}

a {
  font-weight: 500;
  font-size: 1rem;
  color: #5bb9fc;;
  text-decoration: none;
  transition: color .5 ease;
}

a:hover {
  color: #1c7bbe;
}


body {
  margin: 0;
  display: flex;
  /* min-width: 320px; */
  min-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}

.card {
  background: hsl(0 0% 100%/0.1);
  width: 75vw;
  height: fit-content;
  border-radius: 2vw;
  padding: 2em;
  margin: 3.5rem 0;
  opacity: 0;
  filter: blur(5px);
  transition: transform .8s, opacity .8s;
}
.card:first-child {
  margin-top: 0px;
}
.card:last-child {
  margin-bottom: 7rem;
}

.card:nth-child(odd) {
  transform: translateX(-80%);
}

.card:nth-child(even) {
  transform: translateX(80%);
}


.show {
  transform: translateX(0) !important;
  opacity: 1;
  filter: blur(0);
}


.hide {
  display:none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}


@media (prefers-reduced-motion) {
  .card {
    transition: none;
  }
}

@media (max-width: 950px) {
  .card {
      width: 85vw;
      padding: 1.5em;
      margin: 2.25rem 0;
  }

  .card:first-child {
    margin-top: 0px;
  }
  .card:last-child {
    margin-bottom: 4.5rem;
  }
  
  .container {
    height:auto;
  }

}

@media (max-width: 700px) {
  .card {
    padding: 1em;
  }
}

.label-theme {
  font-family: monospace;
  font-size: var(--fs-600);
  border-bottom: 4px solid #5bb9fc;
}

.paragraph {
  display: inline-block;
  font-family: monospace;
  margin-top: 1rem;
  font-size: var(--fs-400);
  text-wrap: pretty;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.monospace {
  font-family: monospace;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.5em;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1b1b1b;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #dedede;
  }
  .card {background-color: #f8f8f8;}
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
