
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  --font-color: rgba(255, 255, 255);
  --border-color: #585858;
  --text-primary: #a8a8a8;
  background-color: #03060e;
  --background-color: #03060e;
  --secondary-color: #1b1b1b;
  --image-loader: #585858;
  --image-filter: invert(1);
  --image-filter-secondary: invert(1);
  --inverted-img-filter: invert(0);
  --nav-background: #03060ebe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --fs-xl: clamp(1rem, 1.3em + 2vw, 5rem);
  --fs-700: clamp(1.5rem, 1.2883rem + 1.129vw, 2.8125rem);
  --fs-600: clamp(1rem, 1em + 1vw, 2rem);
  --fs-500: clamp(0.875rem, 0.7944rem + 0.4301vw, 1.375rem);
  --fs-400: clamp(0.875rem, 0.8548rem + 0.1075vw, 1rem);
  --fs-300: clamp(0.75rem, 0.7349rem + 0.0806vw, 0.84375rem);
}

:root.dark {
  --font-color: rgba(255, 255, 255);
  --border-color: #1b1b1b;
  --text-primary: #a8a8a8;
  background-color: #03060e;
  --background-color: #03060e;
  --secondary-color: #1b1b1b;
  --image-filter: invert(1);
  --image-filter-secondary: invert(1);
  --inverted-img-filter: invert(0);
  --nav-background: #03060ebe;  
}

:root.light {
  --font-color: black;
  --border-color: #7f7f7f;
  --text-primary: #232323;
  background-color: rgb(230, 230, 230);
  --background-color: rgb(230, 230, 230);
  --secondary-color: #afafaf;
  --image-filter: invert(.3);
  --image-filter-secondary: invert(0);
  --inverted-img-filter: invert(1);
  --nav-background: rgb(230, 230, 230, .75);
}

* {
    box-sizing: border-box;
}


.text-primary {
  color: var(--text-primary) !important;
}

.title-color {
  color: var(--font-color) !important; 
}

.fs-300 {
  font-size: var(--fs-300) !important;
}

.fs-700 {
  font-size: var(--fs-700) !important;
}

.fs-400 {
  font-size: var(--fs-400) !important;
}

.fs-500 {
  font-size: var(--fs-500) !important;
}

.fs-xl {
  font-size: var(--fs-xl) !important;
}

.fs-600 {
  font-size: var(--fs-600) !important;
}

.fw-600 {
  font-weight: 600 !important;
}


.hidden {
  display:none;
}

.visibile {
  display: initial;
}


.flex-row {
  display: flex !important;
  flex-direction: row !important;
  gap: 1rem;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
}

.relative {
  position: relative !important;
}

.mb-1 {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
  width: 750px;
  padding-bottom: 4rem;
}

.section:first-of-type {
  margin-top: 1rem;
}

.loading {
  animation: imageLoader 1s infinite;
}

@keyframes imageLoader {
  0% {
    background-color: var(--secondary-color);
  }
  50% {
    background-color: var(--image-loader);
  }
  100%  {
    background-color: var(--secondary-color);
  }
}

.image-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: var(--secondary-color);
}

.image-container img {
  display: block;
}

.enlarged {
  position: fixed;
  background-color: var(--nav-background);
  backdrop-filter: blur(2px);
  height: 100dvh;
  width: 100vw;
  z-index: 4;
  top: 0;
  left: 0;
  transition: background-color 250ms ease-in, backdrop-filter 250ms ease-in;
}

.enlarged > div {
  position: absolute !important;
  aspect-ratio: 16/9;
  cursor: pointer;
}

.enlarged button {
  top: 5px;
  right: 5px;
}

.collapsing {
  z-index: 3 !important;
}

@media (max-width: 830px) {
  .container {
    width: 90vw;
  }
}

body::-webkit-scrollbar {
  width: 7.5px;
}

body::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--text-primary);
}

.custom-scroll::-webkit-scrollbar {
  width: 7.5px;
}

@media (max-width: 500px) {
  .custom-scroll::-webkit-scrollbar {
  width: 3px;
}

}

.custom-scroll::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--text-primary);
}

hr {
  width: 100% !important;
  border: none;
  height:2px;
  background-color: #787878;
  border-radius: 15rem;
}

h2 {
  color: var(--font-color);
}

a {
  font-weight: 500;
  font-size: 1rem;
  color: #5bb9fc;;
  text-decoration: none;
  transition: color .5 ease;
}

body {
  margin: 0;
  display: flex;
  /* min-width: 320px; */
  min-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}

.show-more-link {
  cursor: pointer;
  font-family: monospace;
  font-weight: bolder;
  margin: 10px 0 10px 0;
  font-size: calc(var(--fs-400) + 1px);
  display: flex;
  align-items: center;
  user-select: none;
  padding: 0 0 2px 0;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  color: var(--font-color);
}

.show-more-link:focus {
  outline: none;
}

.show-more-link:focus-visible {
  box-shadow: 0 2px 0 0 var(--font-color);
}

.show-more-link img{
  height: calc(var(--fs-400) + 1px);
  width: calc(var(--fs-400) + 1px);
  filter: var(--image-filter-secondary);
  margin-top: 2px;
  margin-left: 2px;
}

.show-more-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  min-height: 0px;
  transition: grid-template-rows 200ms linear;
}

.show-more-wrapper > :first-child{
    overflow: hidden;
    margin-bottom: 10px;
    text-align: start;
}

.show-more-wrapper.show-text {
    grid-template-rows: 1fr !important;
}

.card {
  background: hsl(0 0% 100%/0.1);
  width: 55vw;
  height: fit-content;
  border-radius: 2vw;
  padding: 2em;
  opacity: 0;
  filter: blur(5px);
  transition: transform 500ms, opacity 500ms;
}

.card:first-child {
  margin-top: 0px;
}

.card:last-child {
  margin-bottom: 7rem;
}

.card:nth-child(odd) {
  transform: translateX(-15%);
}

.card:nth-child(even) {
  transform: translateX(15%);
}


.show {
  transform: translateX(0) !important;
  opacity: 1;
  filter: blur(0);
}

.transparent {
  opacity:0;
}



.flex-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}

.row {
  display:flex;
  flex-direction: row;
  align-items: center;
}


@media (prefers-reduced-motion) {
  .card {
    transition: none;
  }
}

@media (max-width: 950px) {
  .card {
      width: 85vw;
      padding: 1.5em;
      margin: 2.25rem 0;
  }

  .card:first-child {
    margin-top: 1rem;
  }
  .card:last-child {
    margin-bottom: 4.5rem;
  }
  
  .container {
    height:auto;
  }

}

@media (max-width: 700px) {
  .card {
    padding: 1em;
    border-radius: 3vw;
  }
}

.label-theme {
  font-family: monospace;
  font-size: var(--fs-600);
  border-bottom: 4px solid #5bb9fc;
}

.paragraph {
  display: inline-block;
  font-family: monospace;
  margin-top: 1rem;
  font-size: var(--fs-400);
  text-wrap: pretty;
  color: var(--text-primary);
}

.paragraph:first-child {
  margin-top: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.monospace {
  font-family: monospace;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.5em;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1b1b1b;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #dedede;
  }
  .card {background-color: #f8f8f8;}
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
